/* Link para importar el tipo de fuente */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");


/* Formato general de nuestra pagina */
* {
  margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

/* Barra scroll */
.menu::-webkit-scrollbar {
  width: 7px;
  /* background-color: #fff; */
}

.menu::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
  border-radius: 20px;
}


*::-webkit-scrollbar {
  width: 10px;
  /* background-color: #060763; */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(39, 143, 204, 0.8);
  border-radius: 20px;
}

/* -------------------------- */
body {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(../images/images_BODY/boby_fondo.jpg); */
  background-attachment: scroll;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
  background-color: rgb(252, 252, 252);
  /* width: 890px; */
}

/* ------------------------------------------------------ */
/* Edicion de nuestra cabecera */
header {
  width: 100%;
  height: 189px;
  background: #060763;
  -webkit-box-shadow: 0px 0px 20px -2px black;
  box-shadow: 0px 0px 20px -2px black;
  transition: all 2s;
}

header:hover {
  background: #060763;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/* ------------------------------------------------------ */
/* Edicion de nuestro contenedor */

/* Edicion de nuestra imagen */
/* .content-menu img {
  width: 890px;
  height: 151px;
  display: block;
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px -2px black;
  box-shadow: 0px 0px 20px -2px black;
} */

/* IMAGEN DE FONDO */
.hero-image-inicio {
  background-image: var(--hero-image-inicio);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-image-opacity-inicio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: var(--hero-opacity-color-inicio); */
}

.hero-image-content-inicio {
  color: var(--hero-text-color-inicio);
  font-size: 3vw;
  filter: drop-shadow(9px 2px 6px #000000);

}

.hero-image-title-inicio {
  color: var(--hero-text-color-inicio);
  font-size: 4vw;
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
}

.texto-image {
  color: var(--hero-text-color-inicio);
  width: 45%;
  display: inline-block;
  margin: 1rem;
  font-size: 3vh;
  background-color: rgba(255, 255, 255, .2);
  padding: 2rem;
}

.hero-image-content-inicio h6 {
  color: #fff;
  padding: 1rem;
  font-size: 2vw;
  border-bottom: #fff solid thin;
  width: 30%;
  margin: 0 auto;
}

.content-menu div {
  width: 100%;
  /* height: 151px; */
  height: 130px;
  display: flex;
  margin: auto;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

#cont-logos {
  /* width: 1000px; */
  /* width: 890px; */
  background-color: #e3e3e3;
}

#cont-search{
  justify-content: center;
  padding: 43px;
  width: 225px;
  margin: 0% 0% 0% 0%;
  background-color:#ffffff00;
}

#edu {
  width: 215px;
  height: 122px;
  padding-top: 44px;
  padding-bottom: 34px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  
}
#edu:hover{
  background: rgba(247, 247, 247, 0);
  box-shadow: 0px 3px 0px 0px black;
  transition: all 500ms;
  filter: drop-shadow(0px 6px 2px #8a8a8a);
}

#tex {
  width: 216px;
  height: 122px;
  padding-top: 32px;
  padding-bottom: 26px;
  padding-left: 21px;
  padding-right: 10px;
  cursor: pointer;
}
#tex:hover{
  background: rgba(247, 247, 247, 0);
  box-shadow: 0px 3px 0px 0px black;
  transition: all 500ms;
  filter: drop-shadow(0px 6px 2px #8a8a8a);
}

#gobedo {
  width: 210px;
  height: 122px;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}
#gobedo:hover{
  background: rgba(247, 247, 247, 0);
  box-shadow: 0px 3px 0px 0px black;
  transition: all 500ms;
  filter: drop-shadow(0px 6px 2px #8a8a8a);
}

#edomex {
  width: 215px;
  height: 122px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}
#edomex:hover{
  background: rgba(247, 247, 247, 0);
  box-shadow: 0px 3px 0px 0px black;
  transition: all 500ms;
  filter: drop-shadow(0px 6px 2px #8a8a8a);
}

/* ------------------------------------------------------ */
/* Creacion de un segundo menu para cuando se aga screenshot */
.content-menu h2 {
  display: none;
}

/* Desactivar nuestro Check para que no aparezca  */
#check {
  display: none;
}

/* ------------------------------------------------------ */
/* Edicion de nuestro navegador y los botones del menu */
.menu {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

/* NAvegadores generales, todas las "a" se encuentran aqui */
a.navegadores {
  color: white;
  text-decoration: none;
}

/* Edicion de nuestra lista */
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Edicion de nuestros links de la lista */
.menu ul li {
  list-style: none;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  position: relative;
}

#ing {
  width: 400px;
  text-align: center;
  cursor: pointer;
}

.contenedor-gris {
  background-color: #e3e3e3;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

footer {
  color: white;
}

.pie-de-pagina {
  background-color: #060763;
}

.copy {
  text-align: center;
  padding: 2rem;
}

.direccion,
.contacto,
.mapa {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;

}

.mapa {
  padding: 1rem;
  padding-top: 0;
  display: inline-table;
}

.mapa>h4 {
  margin-bottom: 1rem;
  padding-top: 0;
}

.texto {
  padding: 1rem;
}

/* Creacion del sobreado al pasar por encia del link con el mause */
.menu>ul>li:hover {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 0px 0px black;
  box-shadow: 0px 3px 0px 0px black;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

/* SubMenu */
/* sustituimos .men ul li ul por .submenu para cambiar las dimensiones de la escuela */
.submenu {
  width: 200px;
  position: absolute;
  top: 49px;
  left: 0;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  border: 1px solid #000000;
  background: #060763;
  border-bottom: 3px solid #000000;
  padding: 10px;
  z-index: 1001;
}

.escuelas {
  width: 450px;
  height: 1090%;
  position: absolute;
  top: 48px;
  left: 0;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  border: 1px solid #000000;
  background: #060763;
  border-bottom: 3px solid #000000;
  padding: 200px 0 0 0;
  z-index: 1000;
  overflow: auto;
}

/* Edicion los datos del submenu*/
/* sustituimos .men ul li ul por .submenu para cambiar las dimensiones de la escuela */
.submenu li {
  padding: 10px 20px;
  position: fixed;
  border-bottom: 1px solid rgb(8, 2, 34);
  font-weight: 100;
  font-size: 14px;
  z-index: 1001;
}

.escuelas li {
  padding: 20px 20px;
  border-bottom: 1px solid rgb(8, 2, 34);
  font-weight: 70;
  font-size: 14px;
  z-index: 1001;
}

.menu ul li ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li ul li:hover {
  background: rgb(106, 114, 184);
}

/* ------------------------------------------------------ */
/* Crea el sombreado desbaneciente cuando se va bajando de la pagina */
.header2 {
  position: fixed;
  top: -131px;
  background: rgba(39, 143, 204, 0.8);
  z-index: 1001;
  transition: all 2s;
  /* NO ELIMINAR: esta linea es para poner ensima la cabeza que la galeria */
}

/* ------------------------------------------------------ */
/* Desactivar nuestro icono del check */
.icon-menu {
  display: none;
}

/* Fondo de mi pagina*/
/* main {
  margin: auto;
  width: 890px;
  height: 3350px;
  height: auto; /* eliminar esta linea
  background-color: #e3e3e3;
  margin-top: 0;
} */

main {
  /* width: 90%; */
  /*width: 890px; */
  /* max-width: 1000px; */
  margin: 0;
  /* background: rgb(275, 285, 254); */
  padding: 0;
  margin-top: 0;
}

/* main img {
  width: 100%;
  margin-top: 100px;
} */

/* Separador linea azul1 */
main h2 {
  font-size: 30px;
  /* margin-top: 30px; */
  font-family: "Roboto", sans-serif;
}

main p {
  margin-top: 10px;
  font-size: 18px;
}

/*Alineacion de iconos azules*/
.cont-circul {
  padding-left: 50px;
}

main div a {
  padding: 10px;
}

.circulos-azules {
  margin: 0 auto;
  max-width: 13%;
  height: 80%;
  cursor: pointer;
}

.comer {
  color: #000000;
}

/* ------------------------------------------------------------------------------ */
/* Seccion donde estan todos los elemnetos de las secciones */

/* Propiedades generales de todas las franjas azul del titulo */
.contenedorgeneral {
  width: 100%;
  color: rgb(255, 255, 255);
}

/* Letras de enmedio de todas las franjas azules */
.titulos {
  background: #060763;
  text-align: center;
  text-decoration: solid;
  border-radius: 80px;
  width: auto;
  padding: .75rem;
  font-size: 20px;
}

/* Propiedaes de todas las noticias */
div.noticias {
  width: 90%;
  margin: 20px auto;
  color: rgb(0, 0, 0);
  padding: 15px;
}

/* Ocupar para una ina imagen a la izquierda */
div.noticias img.imagen-izquierda {
  float: left;
  /* margin-right: 50px; */
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

/* Ocupara para una imagen a la derecha */
div.noticias img.imagen-derecha {
  float: right;
  /* margin-left: 50px; */
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  margin-right: 1rem;

}

/* ---------------------------------------------------------------------------- */

/* Tipo de fuente general para los textox de las noticias */
@font-face {
  font-family: ShitHappensTriald;
  src: url(fuentes/ShitHappensTriald.otf);
}

/* Texto para una noticia con imagen a la izquierda */
.text1 {
  width: auto;
  margin-top: 20px;
  /* padding-left: 100px; */
  text-align: center;
  text-decoration: solid;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Texto para una noticia con imagena a la derecha */
.text2 {
  width: auto;
  margin-top: 20px;
  /* padding-left: 100px; */
  text-align: center;
  text-decoration: solid;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Recetear el partado del texto que no tome todo este es crucial no borrarlo */
div.reset {
  clear: both;
}

/* Propiedades de todos los botones generales */
.btn-contorno {
  padding: 40px;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.btn {
  text-decoration: none;
  color: white;
  background: rgb(8, 117, 117);
  border-radius: 80px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  text-decoration: none;
  color: #000000;
  background: rgb(177, 219, 219);
  border-radius: 80px;
  border: outset thin;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px;
  transition: all .5s;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: #060763;
  color: #fff;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: #fff;
  color: #060763;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* iconos de las ingenierias */
.icon>svg {
  fill: #000000;
  align-self: center;
}

.icon {
  padding: 1rem;
}

.icon>h4 {
  font-weight: bold;
  color: #000000;
}

/* CALENDARIO */

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-card-info h3 {
  padding: .5rem;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

/* OFERTA EDU Home */

.portfolio-card-ING {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.portfolio-card-ING img {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.portfolio-card-ING-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 13, 13, 0.5);
  color: #fff;
  padding: 1rem;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

}

.portfolio-card-ING-info h3 {
  padding: .5rem;
}

.portfolio-card-ING:hover .portfolio-card-ING-info {
  opacity: 0.4;
  pointer-events: auto;
}

.contenedores-info h5 {
  font-size: 3.5rem;
}

.contenedores-info {
  padding: 0.5rem;
}

.contenedores-oferta-diplomado {
  width: 50%;
}

.contenedor-diplomado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-info h2 {
  padding: 1.5rem;
  margin: 2rem;
  border-bottom: #060763 solid thick;
  text-align: center;
}

/* Columas del HOME */
.contenedores-of {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Contenerdor LIC */
.portfolio-card-LIC {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.portfolio-card-LIC img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.portfolio-card-LIC-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 221, 13, 0.5);
  color: #fff;
  padding: 1rem;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.portfolio-card-LIC-info h3 {
  padding: .5rem;
}

.portfolio-card-LIC:hover .portfolio-card-LIC-info {
  opacity: 0.4;
  pointer-events: auto;
}

/* Contenerdor POS */
.portfolio-card-POS {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.portfolio-card-POS img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;

}

.portfolio-card-POS-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 13, 221, 0.5);
  color: #fff;
  padding: 1rem;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

}

.portfolio-card-POS-info h3 {
  padding: .5rem;
}

.portfolio-card-POS:hover .portfolio-card-POS-info {
  opacity: 0.4;
  pointer-events: auto;
}

/* Contenerdor DOC */
.portfolio-card-DOC {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.portfolio-card-DOC img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;

}

.portfolio-card-DOC-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(197, 13, 221, 0.5);
  color: #fff;
  padding: 1rem;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

}

.portfolio-card-DOC-info h3 {
  padding: .5rem;
}

.portfolio-card-DOC:hover .portfolio-card-DOC-info {
  opacity: 0.4;
  pointer-events: auto;
}

/* Contenerdor DIPL */
.portfolio-card-DIPL {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.portfolio-card-DIPL img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;

}

.portfolio-card-DIPL-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 124, 13, 0.5);
  color: #fff;
  padding: 1rem;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.portfolio-card-DIPL-info h3 {
  padding: .5rem;
}

.portfolio-card-DIPL:hover .portfolio-card-DIPL-info {
  opacity: 0.4;
  pointer-events: auto;
}

/* HOME TECLOGICOS */
.TES {
  color: #fff;
  background-color: rgba(6, 7, 99, 0.5);
  font-size: 22px;
  text-align: left;
  padding: 1rem;
  margin: 0.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* border: solid 3px; */
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.sedes-tecnologicos {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.TES a {
  text-decoration: none;
  color: #fff;
}

.TES:hover {
  background-color: rgba(39, 143, 204, 0.8);
  transition: all .5s ease;
}

/* Video secretario */
.mensaje-secretario {
  text-align: center;
}

.msj-secre {
  width: 1100px;
  height: 600px;
}

.informacion-msj {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
}

.informacion-msj h4 {
  text-align: center;
  font-size: 40px;
  color: #060763;
}

.informacion-msj p {
  text-align: center;
}

.info-mision,
.info-vision {
  margin: 1rem;
}

.nota {
  text-align: center;
  margin: 1rem;
}

.container-info-dual {
  width: 90%;
  /* background-color: red; */
  border: solid 2px rgb(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 2rem;
}
.container-info-dual img{
  margin: 0rem;
  padding-bottom: 0%;
}

.container-info-dual h5 {
  text-align: center;
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.2rem;

}

.container-info-dual p {
  text-align: justify;
}

.title-dual {
  text-align: right;
}

.info-dual {
  display: flex;
  justify-content: center;
}

.container-info-dual-three {
  border: solid 2px rgb(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 2rem;
}

.container-info-dual-three h5 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.container-info-dual-three li {
  padding-bottom: .5rem;
}

.container-info-dual-three {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem;
}

.info-dual-three {
  padding: 2rem;
}

.btn-triptico a {
  text-decoration: none;
  color: #fff;
}
.btn-triptico a:hover {
  color: #fff;
}
.btn-triptico {
  background-color: #060763;
  padding: .5rem;
  border-radius: 10px;
  width: 100%;
}
.btn-triptico:hover{
  background-color: #060763;
  transition: all 0.5s ease; 
  opacity: 0.8;
}
.sedes-becas {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sedes-becas {
  /* text-align: center; */
  /* padding: 1rem; */
  /* font-family: Arial, Helvetica, sans-serif; */
  padding-bottom: 0;
  display: flex;
  margin: 1rem;
  text-align: center;
}
.job-becas {
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
  /* background-color: rgb(226, 226, 226);
  box-shadow: 1px 1px 10px 3px rgb(2, 120, 255); */
  border-left: #060763 solid thick;
}
.dudas-becas{
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
  border-left: #060763 solid thick;
}
.dudas-becas a{
  color: #000000;
  padding: 0;
}
.benito-becas{
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
  border-left: #060763 solid thick;
}
.summary h5{
  font-size: 1.5rem;
}

/* ESTILOS */

a.navegadores {
  color: white;
  text-decoration: none;
}

/* Contennedor general */
.cont-general {
  width: 100%;
}

/* contenedor del titulo  */
.cont-titulo {
  width: 100%;
  /* margin: 50px; */
  padding-top: 50px;
  padding-bottom: 50px;
  color: #060763;
  display: flex;
  justify-content: center;
}

.titulo-principal {
  font-size: 60px;
}

/* Estilos franja azul */
.Cont-subti-ing {
  width: 100%;
  background: #060763;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.images-generales {
  width: 100%;
  height: 250px;
}

#img1,
#img2,
#img3 {
  width: 100%;
  height: 250px;
}

.container-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-img-posgrado{
  width: 100%;
}

.container-img-electronic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Contenedor de todos los tecnologicos */
.cont-todos-tec {
  width: 100%;
  color: #060763;
  /* background-color: red; */

}

.tecnologicos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navegar-tec:hover {
  background-color: #060763;
  transition: all .3s ease;
  color: white;
  width: 95%;
  text-align: center;
  border-bottom: solid 0 #000;
}

.navegar-tec {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: solid 1px #000;
  width: 90%;
  font-weight: normal;
}
.cont-todos-tec{
  padding-bottom: 2rem;
}

.formulario-dudas {
  text-align: center;
  margin: 2rem;
}

/* Acordion */

.perfiles {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.perfiles-doctorado{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.accordion {
  padding: 1.5rem;
  /* background-color: rgba(39, 143, 204, 0.8); */
}
/* IMAGEN DE INGENIERIAS */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  color: var(--hero-text-color);
  font-size: 7.5vw;
  filter: drop-shadow(9px 2px 6px #000000);
}

.hero-image-title {
  color: var(--hero-text-color);
  font-size: 6.0vw;
}

.sedes {
  /* text-align: center; */
  /* padding: 1rem; */
  /* font-family: Arial, Helvetica, sans-serif; */
  padding-bottom: 0;
  display: flex;
  /* margin: 0% -10% 0% -10%; */
  text-align: center;
  justify-content: center;
}

.job {
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
  /* background-color: rgb(226, 226, 226);
  box-shadow: 1px 1px 10px 3px rgb(2, 120, 255); */
  border-left: #060763 solid thick;
}
.dudas {
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
  border-left: #060763 solid thick;
}

.summary>h5 {
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
}

.summary>p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;


}

.summary {
  /* background-color: red; */
  /* border-radius: 1rem; */
  margin: 1.5rem;
  padding: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;

}

/* FORMULARIO  */
/*________Formulario_________*/
.contact-form {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 800px;
}

.contact-form>* {
  padding: .5rem;
  margin: 2rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: sans-serif;
}

.contact-form textarea {
  border-radius: 15px;
  border: thin solid #000;
  resize: none;
}

.contact-form input {
  padding-left: 0;
  border: 0;
  border-bottom: thin solid #000;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all .2s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: .75;
}

.contact-form * ::placeholder {
  color: #000;
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: #060763;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

.none {
  display: none;
}

.box-shadow-1 {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}


.contact-form input,
.contact-form textarea {
  font-size: 1rem;
}

.contact-form textarea,
.contact-form-loader {
  grid-column: span 2;
}

.contact-form input[type="submit"] {
  margin-left: 0;
}

.btn-enviar {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #060763;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.text-center {
  text-align: center;
}
.more{
  text-align: center;
  padding: 1.4rem;
  padding-bottom: 0;
}
.more a{
  text-decoration: none;
  color: #000;
}
.more a:hover{
  color: rgb(0, 0, 0, 0.5);
  transition: all .2s ease;
}
.delfin h5{
  font-size: 1.5rem;
  color: #000;
  padding: 1rem;
  font-weight: normal;
}
.delfin h4{
color: #000;
padding-top: 2rem;
}
.info-teschi{
  padding: 1rem;
}
.info-teschi a{
  color: #000;
  padding: 0;
}

.requisitos-servicio{
  border: solid 2px rgb(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.requisitos-servicio p{
  text-align: justify;
}
.requisitos{
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.requisitos p{
  padding: 1rem;
}
.container-info-dual-three ul{
padding: 1rem;
}

.residencia{
    margin: 2rem;
    width: 95%;
    border-left: #060763 solid thick;
    text-align: center;
}

.residencia p{
 text-align: justify;
 padding-left: 2rem;
 padding-right: 2rem;
}

.residencia-rows {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.icon-res{
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container-info-dual h6{
  font-weight: normal;
  text-align: center;
  padding: .3rem;
  border-bottom: solid thin #000;
}
.icon-resquisitos{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
}
.icon-resquisitos h6{
  font-weight: normal;
  text-align: center;
  border-bottom: solid thin #fff;
}

/*Contenido de Nodos Productivos*/
.perfiles-nodos{
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.perfiles-nodos-acordeon {
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.nodos-nombres{
  font-size: x-large;
  margin-left: auto;
}
.summary-nodos {
  margin: 1.5rem;
  padding: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info-actividad{
  padding: 0% 1% 3% 1%;
}
.info-municipios{
  padding: 0% 1% 3% 1%;
}
.info-municipios ul{
  padding: revert;
}

/* ESTA FUNCION SE ACTUVA CUANDO SE HACE PEQUE;A LA PAGINA */
/* El valor 768 es los pixeces cuando se activara */
@media screen and (max-width: 900px) {

  /* 18102022 Edgar Roman */
  .container {
    padding: 0.3rem;
  }

  /* Cabios del 19/10/2022 */

  /* Fin del cambio */
  input#check {
    visibility: hidden;
    position: absolute;
    top: -9999px;
  }

  .toggle-button {
    padding: 1.8rem;
    display: block;
    width: 50px;
    height: 50px;
    /* border:2px solid rgb(255, 255, 255); */
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
  }

  .toggle-button:before,
  .toggle-button:after {
    position: absolute;
    display: block;
    content: " ";
    width: calc(100% / 2);
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
  }

  .toggle-button:before {
    top: calc(100% / 4);
    height: calc(100% / 4);
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: transparent;
  }

  .toggle-button:after {
    height: 3px;
    background-color: rgb(255, 255, 255);
    bottom: calc(100% / 3.2);
  }

  input#check:checked+.toggle-button:before,
  input#check:checked+.toggle-button:after {
    top: calc(100% / 2);
    height: 3px;
    border-bottom: 0;
  }

  input#check:checked+.toggle-button:before {
    transform: rotate(45deg);
  }

  input#check:checked+.toggle-button:after {
    transform: rotate(-45deg);
  }

  .abrir,
  .cerrar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -9999px;
  }

  .abrir {
    display: block;
  }

  .cerrar {
    display: none;
  }

  input#check:checked+.toggle-button .abrir {
    display: none;
  }

  input#check:checked+.toggle-button .cerrar {
    display: block;
  }

  /* Fin de cambios Edgar Roman */
  /* Edicion de la cabeza de nuestra pagina minimizada */
  header {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1001;
    transition: all 1s;

  }

  /* Edicion de la segunda cabeza de nuestra pagina minimizada la sombreada */
  .header2 {
    position: fixed;
    top: 0px;
    height: 60px;
    z-index: 1001;
    transition: all 1s;
  }

  /* ------------------------------------------------------ */
  /* Edicion de el contenido de nuestro contenido en la pagina minimixada */
  main {
    margin-top: 55px;
  }

  /* Eliminamos nuestro logo */
  .content-menu div {
    display: none;
  }

  .btn1-contorno {
    margin: auto;
    width: 190px;
    margin-top: 20px;
  }

  /* .img_body_uno {
    width: 160px;
    height: 170px;
    margin-top: -20px;
    margin-left: 40px;
  } */


  /* ------------------------------------------------------ */
  /* Edicion de nuestro boton check */
  .icon-menu {
    display: block;
    position: fixed;
    color: white;
    right: 10px;
    top: 10px;
    padding: 5px;
    font-size: 26px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 1001;
  }

  /* Edicion del sombreado del check cuando pasamos el cursor por ensima */
  .icon-menu:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 5px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    cursor: pointer;
  }

  /* Edicion de nuestro texto en la cabecera  */
  .content-menu h2 {
    display: block;
    position: absolute;
    bottom: 3vh;
    /* Esquina inferior derecha */
    right: 3vh;
    font-family: "Roboto", sans-serif;
    color: white;
  }

  /* ------------------------------------------------------ */
  /* Edicion de nuestro menu de opciones a hora en listadas */
  .menu {
    /* width: auto; */
    /* position: fixed;
    top: 50px;
    background: #192a56;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden; */
    width: 250px;
    background: #192a56;
    height: 100vh;
    left: -120%;
    top: 50px;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    cursor: pointer;
    /* Esta linea hace que pueda mover el menu */
    overflow: scroll;
  }

  /* Enlistar las opciones */
  .menu ul {
    /*  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; */
    /*  display: block;
    width: 500px;
    height: 600px;
    padding: 20px;
    text-align: center;
    background: #34495e;
    color: #fff; */
    flex-direction: column;
    padding: 20px;
    /* text-align: center; */
  }

  /* Tamano del interlineado entre las opciones */
  .menu ul li {
    padding: 8px;
    border-radius: 5px;
  }

  .submenu {
    top: 10px;
    border: 0;
    width: 75%;
    margin: 0 0 15px 40px;
    position: relative;
    border-radius: 5px;
    background: #273c75;
    cursor: pointer;
  }

  .submenu li {
    padding: 15px 35px;
    border-bottom: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 15px;
  }

  .escuelas {
    top: 10px;
    border: 0;
    width: 90%;
    margin: 0 0 10px 10px;
    position: relative;
    border-radius: 1px;
    background: #273c75;
    cursor: pointer;
  }

  .escuelas li {
    width: 100%;
    border-bottom: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 15px;
  }

  .menu ul li ul li:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  /* Eliminar las que no deceas que aparezcan en tus opciones */
  #face,
  #tw,
  #inst,
  #yout {
    display: none;
  }

  /* Editar algunos atributos del texto */

  /* ------------------------------------------------------ */
  /* Hacer que aparezca al precionar el chcked */
  #check:checked~.menu {
    left: 0px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }


  .stdem {
    font-size: 15px;
    width: 290px;
    height: 30px;
    text-align: right;
  }

  .stdem>a {
    text-decoration: none;
    color: white;
  }

  .contenedores-of {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contenedores-oferta-diplomado {
    width: 100%;
  }

  .portfolio-card-LIC img,
  .portfolio-card-ING img,
  .portfolio-card-POS img,
  .portfolio-card-DOC img,
  .portfolio-card-DIPL img {
    border-radius: 10px;
  }

  .portfolio-card-LIC-info,
  .portfolio-card-ING-info,
  .portfolio-card-POS-info,
  .portfolio-card-DOC-info,
  .portfolio-card-DIPL-info {
    border-radius: 10px;
  }

  .contenedores-info {
    padding: 0.3rem;
  }

  .sedes-tecnologicos {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .informacion-msj {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .msj-secre {
    width: 80%;
    height: 400px;
  }

  .informacion-msj {
    padding: 1rem;
  }

  .informacion-msj p {
    text-align: justify;
  }
  .container-info-dual-three {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .container-info-dual-three h5{
    font-size: 1.4rem;
    text-align: center;
    padding-top: 2rem;
  }
  .informacion-msj {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .info-dual{
    padding-top: 2rem;
  }
  .vinetas{
    padding-top: 1rem;
  }
  .info-dual-three {
    padding: 1rem;
}
body{
  overflow-x: hidden;
}
.cont-general {
  margin-top: 50px;
}

.perfiles {
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.accordion {
  padding-bottom: 0;
  padding-top: 1rem;
}


.sedes-residensia {
  padding-bottom: 0;
  padding: 0;
  display: block;
  text-align: center;
}

.job {
  padding-right: 0;
  margin: 1rem;
  width: 90%;
  margin-bottom: 0rem;
}

.dudas {
  padding-right: 0;
  margin: 1rem;
  width: 90%;
  margin-bottom: -1rem;
  /* padding: 1rem; */
}
.contact-form {
  display: block;
}
.btn-enviar{
  width: 100%;
}
.sedes-becas {
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
}
.job-becas {
  margin: 1rem;
  width: 90%;
}
.dudas-becas{
  margin: 1rem;
  width: 90%;
  border-left: #060763 solid thick;
}
.benito-becas{
  margin: 1rem;
  width: 90%;
  border-left: #060763 solid thick;
}
.hero-image {
  background-attachment:local;
}
.hero-image-opacity {
  min-height: 30vh;
}
.requisitos{
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.residencia-rows {
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.residencia{
  margin: 2rem;
  margin-bottom: 0;
  width: 90%;
  border-left: #060763 solid thick;
}

}